/**
 * Float Layout Activity 
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {

}

header {

	padding: 20px;
	margin-bottom: 20px;
	color: #333;
  background: #ccc;
}

section {

}

#left {
	color: white;
	float: left;
	border: solid black;
	background-color: black;
	width: 33%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#middle {
	color: white;
	float: left;
	border: solid grey;
	background-color: #999;
	width: 33%;
	padding-top: 20px;
	padding-bottom: 20px;

}

#right {
	color: white;
	float: left;
	border: solid black;
	background-color: black;
	width: 33%;
	padding-top: 20px;
	padding-bottom: 20px;

}

#full {
	clear: both;
	color: black; 
	padding: 20px;
	border: solid grey;
	background-color: grey;
	width: 100%;
	height: 40%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	overflow: auto;

}

#division {
	color: black;
	border: solid blue;
	background-color: blue;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;

}

aside {
	color: black;
	float: left;
	border: solid white;
	background-color: white;
	width: 30%;
	height: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	position: absolute;

}

footer {
	color: black;
	float: left;
	border: solid grey;
	background-color: grey;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;

}
